
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=windows-1252">
    <meta charset="utf-8">
    <title>Education Management System</title>
    <link rel="stylesheet" href="~/styles/style.css" type="text/css">
    <link href="~/styles/bootstrap.css" rel="stylesheet">
    <link href="~/styles/bootstrap-responsive.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/styles/css.css">
    <link rel="stylesheet" href="~/styles/ace.css">



</head>

<body>
    <div class="home">
        <div class="navbar">
            <div class="navbar-inner">
                <div class="container-fluid">
                      <h1>Central High School</h1>
                </div>
            </div>
        </div>


        <div>
            <ul class="ultopnav">
                <li class="litopnav"><a href="~/Home/Home">Home</a></li>
                <li class="litopnav"><a href="~/Home/academic">Academics</a></li>
                <li class="litopnav"><a href="~/Home/sports">Sports</a></li>
                <li class="litopnav"><a class="active" href="~/Home/aboutus">About Us</a></li>
                <li class="litopnav"><a href="~/Home/contactus">Contact Us</a></li>
                <li class="litopnav login"><a href="/Account/Login">LOGIN</a></li>
            </ul>

            <div class="page-content">
               <h1 style="color:red;text-align:center;font-size:30px;">About CHS</h1>
                  <p><strong>About The Central High School</strong><br>
                      The  Central High School experience transforms students into lifelong  learners, dedicated to service, with the knowledge, skills and confidence to  succeed and lead in the region, state, nation and world.
                     
                      <div style="float:right;">
                          <iframe style="height:300px;width:300px;border:2px solid red;border-radius:8px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3111.245146050884!2d-93.74055918501124!3d38.75808097959222!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87c3fd542d0fe265%3A0x614854617b5aa280!2sUniversity+of+Central+Missouri!5e0!3m2!1sen!2sus!4v1475474354355" width="600" height="450" frameborder="0" style="border:0" allowfullscreen>
                          </iframe>
                      </div>
<p><strong>Reasons to Believe in a CHS  education.</strong></p>
<ul>
  <li><strong>A Culture of service</strong> connects students to something bigger than themselves through  opportunities to give back to the community such as Habitat for Humanity. </li>
  <li><strong>Engaged Learning </strong>through hands-on learning experiences in and outside the classroom includes  programs such as Innovative Public Relations and the Integrative Business  Experience.</li>
  <li><strong>Future-Focused Academics</strong> offers state-of-the-art equipment such as Redbird  simulators and internships to equip students with up-to-date skills.</li>
  <li><strong>A Worldly Perspective</strong> enhances students' college experience by offering opportunities  to participate in study abroad programs in countries such as France or New  Zealand.</li>
</ul>
<p><strong>Champions of Student  Success<br>
</strong>CHS's Learning to a Greater Degree Contract is our promise to you that  with your commitment, we'll help you complete a more valuable degree on time. We  foster a community of engagement by providing you with resources to help you  succeed, such as our Student Success Center and Writing Center.</p>
<p><strong>Focused on the Future<br>
</strong>Founded  in 1871 in Warrensburg, Missouri with only a few dozen students, more than 140  years later, CHS has grown to serve more than 14,000 students. Our diverse  student population represents nearly every state and 50 countries across the  globe.</p>

                  </p>
            </div>

        </div>
    </div>
                <div id="footer">
                    Copyrights &copy 2016 <a href="~/Home/Home">"Central High School"</a>
                </div>


</body>
</html>
