
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=windows-1252">
    <meta charset="utf-8">
    <title>Central High School</title>
    <link rel="stylesheet" href="~/styles/style.css" type="text/css">
    <link href="~/styles/bootstrap.css" rel="stylesheet">
    <link href="~/styles/bootstrap-responsive.css" rel="stylesheet">
    <link rel="stylesheet" href="~/styles/css.css">
    <link rel="stylesheet" href="~/styles/ace.css">

    <style>
        
        img
        {
            float:inherit;
            width: 400px;
            height: 250px;
            border: 1px solid;
            border-color:blueviolet;
            border-radius:8px;
            margin: 0px 0px 15px 20px;
        }
    </style>

</head>

<body>
    <div class="home">
        <div class="navbar">
            <div class="navbar-inner">
                <div class="container-fluid">
                    <h1>Central High School</h1>
                </div>
            </div>
        </div>
        <div>
            <ul class="ultopnav">
                <li class="litopnav"><a href="~/Home/Home">Home</a></li>
                <li class="litopnav"><a href="~/Home/academic">Academics</a></li>
                <li class="litopnav"><a class="active" href="~/Home/sports">Sports</a></li>
                <li class="litopnav"><a href="~/Home/aboutus">About Us</a></li>
                <li class="litopnav"><a href="~/Home/contactus">Contact Us</a></li>
                <li class="litopnav login"><a href="/Account/Login">LOGIN</a></li>
            </ul>

            <div class="page-content">
                <h1 style="color:red;text-align:center;font-size:30px;">Sports page</h1>
                    <h3 style="color:orange;">About Physical Education</h3>
                    <p style="float:left;text-indent:50px;">
                        <img src="~/images/sports3.jpg" style="margin-right:10px;" />
                        CHS has well equipped games and sports department under charge of physical director.
                        CHS believes in a sound mind in sound body. Students are encouraged to play various
                        indoor and outdoor games and sports participation in competition is also encouraged.
                        CHS conducted tournaments and summer coaching camps in various games and sports.<br />
                        Planning to participate students in inters college;
                        inter university state and national level in different games and sports like Cricket, athletics.
                        Planning teams to train in professional way for facing competitions apart from college schedule
                        Planning in organizing tournaments in different sports and games.

                    </p>
                    <img src="~/images/sports6.jpg" style="float:right;" />

                    <h3 style="color:orange;">Aims and Objectives of the Department</h3>

                    <p>

                        <ul>
                            <li>To encourage sports men ship and to promote friendly relations among the various School departments</li>
                            <li>To raise the standards of sports and prevailing in the Schools and to work for development of values through sports among students</li>
                            <li>To organize tournaments in different sports and games every year</li>
                            <li>To make participation in inter School, inter state and national level in different games and sports like Baseball, athletics</li>
                        </ul>
                    </p>
                </div>
            </div>

            <blockquote>
                <p style="text-align:center; font-style:italic; position:absolute; border-radius:8px; ">
                    <strong style="font-size:larger" ;>"Champions Keep Playing Until they get it right...."</strong>
                    <cite style="font-size:small;">-Billie Jean King, Tennis star.</cite>
                    <br />
                    <br />

                </p>

            </blockquote>
        </div>
        <div id="footer">
            Copyrights &copy 2016 <a href="~/Home/Home"><strong>"Central High School"</strong></a>
        </div>
</body>
</html>
